/* section title */
.section-title {
  position: relative;
  display: block;
  margin-bottom: 53px;

  .section-title__tagline {
    color: var(--text-color);
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
    font: {
      size: 16px;
      weight: 700;
      family: var(--secondary-font);
    }
  }

  .section-title__title {
    letter-spacing: -1px;
    font: {
      size: 40px;
      weight: 700;
    }
  }
}

@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 33px;
    .section-title__title {
      font-size: 24px;
      br {
        display: none;
      }
    }
    .section-title__tagline {
      font-size: 14px;
    }
  }
}