@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Quicksand:wght@300..700&display=swap");
:root {
  --primary-font: "Quicksand", sans-serif;
  --secondary-font: "DM Sans", sans-serif;
  --primary-color: #fa575d;
  --secondary-color: #20212b;
  --white-color: #ffffff;
  --text-color: #898989;
  --nutural-color: #fff3f3;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
p {
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--secondary-font);
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-weight: 700;
}

.default-button {
  line-height: 1;
  overflow: hidden;
  position: relative;
  padding: 19px 39px;
  border-radius: 42px;
  display: inline-block;
  text-transform: capitalize;
  color: var(--primary-color);
  transition: 0.5s ease-in-out;
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.default-button span {
  position: relative;
  z-index: 1;
}
.default-button::before, .default-button::after {
  content: "";
  width: 0%;
  height: 0%;
  transform: rotate(45deg);
  transition: 0.5s ease-in-out;
  background-color: var(--primary-color);
  position: absolute;
  z-index: 0;
}
.default-button::before {
  left: 0;
  top: 0;
}
.default-button::after {
  bottom: 0;
  right: 0;
}
.default-button:hover {
  color: var(--white-color);
  border-color: var(--white-color);
}
.default-button:hover::before, .default-button:hover::after {
  height: 100%;
  width: 50%;
  transform: rotate(0deg);
}
.default-button.style2 {
  --primary-color: #ffffff;
  --white-color: #20212b;
}

.owl-carousel .owl-item img {
  display: block;
  width: unset;
}

@media only screen and (max-width: 767px) {
  .default-button {
    padding: 15px 24px;
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}
/* section title */
.section-title {
  position: relative;
  display: block;
  margin-bottom: 53px;
}
.section-title .section-title__tagline {
  color: var(--text-color);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.section-title .section-title__title {
  letter-spacing: -1px;
  font-size: 40px;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 33px;
  }
  .section-title .section-title__title {
    font-size: 24px;
  }
  .section-title .section-title__title br {
    display: none;
  }
  .section-title .section-title__tagline {
    font-size: 14px;
  }
}
.hero-slider__item {
  position: relative;
  padding-top: 217px;
  padding-bottom: 183px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.hero-slider__item::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(32, 33, 43, 0.8);
  position: absolute;
  left: 0;
  top: 0;
}
.hero-slider__item .hero-slider__content {
  position: relative;
  z-index: 2;
}
.hero-slider__item .hero-slider__content .hero-slider__title {
  letter-spacing: -3px;
  line-height: 1.2;
  margin-bottom: 26px;
  color: var(--white-color);
  font-size: 80px;
  font-weight: 700;
}
.hero-slider__item .hero-slider__content .hero-slider__sub-title {
  max-width: 570px;
  color: #a4a4a4;
  font-size: 18px;
  margin-bottom: 48px;
  line-height: 1.66;
}
.hero-slider__item .hero-slider__layer__shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-slider__item .hero-slider__layer-two {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63.85%;
}
.hero-slider__item .hero-slider__layer-two .hero-slider__layer-two__shape {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-slider__item .hero-slider__layer-two .hero-slider__layer-two__image {
  z-index: 2;
  position: relative;
}

.hero-slider .owl-dots {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  position: absolute;
  bottom: 113px;
  left: 0;
  right: 0;
}
.hero-slider .owl-dots .owl-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: rgba(104, 106, 111, 0);
  position: relative;
  margin-right: 12px;
}
.hero-slider .owl-dots .owl-dot::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  background-color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-slider .owl-dots .owl-dot:last-child {
  margin-right: 0;
}
.hero-slider .owl-dots .owl-dot.active {
  background-color: rgba(104, 106, 111, 0.23);
}
.hero-slider .owl-dots .owl-dot.active::before {
  background-color: var(--primary-color);
}

@media only screen and (max-width: 767px) {
  .hero-slider__item {
    padding-top: 80px;
    padding-bottom: 130px;
  }
  .hero-slider__item .hero-slider__layer-two {
    display: none;
  }
  .hero-slider__item .hero-slider__content .hero-slider__title {
    font-size: 36px;
    letter-spacing: 0px;
    margin-bottom: 16px;
  }
  .hero-slider__item .hero-slider__content .hero-slider__sub-title {
    margin-bottom: 36px;
    font-size: 14px;
  }
  .hero-slider .owl-dots {
    padding: 0 15px;
    bottom: 83px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hero-slider__item {
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .hero-slider__item .hero-slider__layer-two {
    display: none;
  }
  .hero-slider__item .hero-slider__content .hero-slider__title {
    font-size: 56px;
    margin-bottom: 16px;
  }
  .hero-slider__item .hero-slider__content .hero-slider__sub-title {
    margin-bottom: 36px;
  }
  .hero-slider .owl-dots {
    padding: 0 35px;
    bottom: 83px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hero-slider__item {
    padding-top: 90px;
    padding-bottom: 150px;
  }
  .hero-slider__item .hero-slider__layer-two {
    display: none;
  }
  .hero-slider__item .hero-slider__content .hero-slider__title {
    font-size: 64px;
  }
  .hero-slider .owl-dots {
    padding: 0 45px;
    bottom: 83px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .hero-slider__item .hero-slider__layer-two {
    width: 85.85%;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .hero-slider__item .hero-slider__layer-two {
    width: 74.85%;
  }
}
@media (min-width: 1600px) {
  .hero-slider__item .hero-slider__layer-two {
    width: unset;
  }
}
.welcome {
  padding: 120px 0 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.welcome-card {
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  margin-bottom: 40px;
  padding: 30px 28px 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.welcome-card::before {
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  background-color: var(--white-color);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.welcome-card .welcome-card__content {
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 1;
}
.welcome-card .welcome-card__icon {
  width: 70px;
  height: 70px;
  margin: 0 0 15px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff3f3;
}
.welcome-card .welcome-card__icon svg {
  width: 40px;
  height: 40px;
  fill: var(--primary-color);
}
.welcome-card .welcome-card__title {
  margin: 0 0 13px;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
}
.welcome-card .welcome-card__title a {
  color: var(--secondary-color);
}
.welcome-card .welcome-card__text {
  margin: 0 0 20px;
  font-weight: 600;
}
.welcome-card .welcome-card__button {
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 500;
  border-color: var(--primary-color);
}
.welcome-card .welcome-card__bottom {
  background-color: var(--secondary-color);
  transition: 0.5s ease-in-out;
  padding: 20px 20px;
  border-radius: 16px;
  overflow: hidden;
  position: absolute;
  left: 0%;
  bottom: -100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}
.welcome-card .welcome-card__bottom .welcome-card__bottom-icon {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.welcome-card .welcome-card__bottom .welcome-card__bottom-icon svg {
  width: 30px;
  height: 30px;
  fill: var(--white-color);
}
.welcome-card .welcome-card__bottom .welcome-card__bottom-text {
  margin: 0;
  line-height: 1;
  font-size: 24px;
  font-weight: 700;
}
.welcome-card .welcome-card__bottom .welcome-card__bottom-text a {
  color: var(--white-color);
}
.welcome-card:hover::before {
  height: 0;
}
.welcome-card:hover .welcome-card__content {
  opacity: 0;
}
.welcome-card:hover .welcome-card__bottom {
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .welcome {
    padding: 90px 0 60px;
  }
  .welcome-card {
    background-size: cover;
  }
  .welcome-card .welcome-card__text {
    font-size: 13px;
  }
  .welcome-card .welcome-card__title, .welcome-card .welcome-card__bottom .welcome-card__bottom-text {
    font-size: 20px;
  }
}
.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.about__text-area .section-title {
  margin-bottom: 32px;
  padding-left: 44px;
  position: relative;
}
.about__text-area .section-title::before {
  content: "";
  width: 14px;
  height: 100%;
  border-radius: 16px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  top: 0;
}
.about__text-area .about__text {
  line-height: 30px;
}

.about__card {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 30px 24px 23px;
  border-radius: 20px;
  background-color: var(--nutural-color);
}
.about__card .about__card-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  position: relative;
  margin-bottom: 15px;
}
.about__card .about__card-icon svg {
  z-index: 1;
  position: relative;
  fill: var(--white-color);
}
.about__card .about__card-icon::before {
  content: "";
  width: 300%;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 0;
  border-radius: 0 25px 25px 0;
}
.about__card .about__card-title {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.about__card .about__card-text {
  margin-bottom: 0;
}

.about__list {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}
.about__list li {
  position: relative;
  padding-left: 38px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--secondary-color);
}
.about__list li i {
  position: absolute;
  left: 0;
  top: 4px;
  color: var(--primary-color);
  font-size: 18px;
}

.about__img-area {
  display: flex;
  gap: 17px;
  padding-left: 20px;
}
.about__img-area .about__img-area__one {
  position: relative;
}
.about__img-area .about__img-area__one .about__img-area__shape {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  border: 8px solid var(--white-color);
  background-color: var(--nutural-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -60px;
  top: 60px;
}
.about__img-area .about__img-area__one .about__img-area__main-img {
  border-radius: 20px;
  max-width: 100%;
}
.about__img-area .about__img-area__one .about__img-area__bottom {
  width: 100%;
  padding: 30px 53px;
  border-radius: 112px;
  border: 10px solid var(--white-color);
  background-color: var(--secondary-color);
  position: absolute;
  bottom: 0;
  left: -28px;
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 18px;
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__experience::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #9f9f9f;
  position: absolute;
  top: 50%;
  left: 44%;
  transform: translate(-50%, -50%);
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__experience span {
  color: var(--white-color);
  line-height: 1.35;
  font-size: 18px;
  font-weight: 400;
  font-family: var(--secondary-font);
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__experience span:first-child {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
  font-family: var(--primary-font);
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__happy-client {
  background-color: #2e2e2e;
  padding: 9px 8px 3px;
  border-radius: 76px;
  position: relative;
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__happy-client ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__happy-client ul li {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--white-color);
  border: 2px solid var(--white-color);
  position: relative;
  margin-right: -20px;
  overflow: hidden;
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__happy-client ul li:last-child::before {
  content: "+";
  width: 105%;
  height: 105%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  border-radius: 50%;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: 700;
  font-family: var(--primary-font);
}
.about__img-area .about__img-area__one .about__img-area__bottom .about__img-area__bottom__happy-client span {
  width: 82px;
  line-height: 1.35;
  display: inline-block;
  color: var(--white-color);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--secondary-font);
}
.about__img-area .about__img-area__two {
  position: relative;
  overflow: hidden;
}
.about__img-area .about__img-area__two .about__img-area__two-main-img {
  border-radius: 30px;
}
.about__img-area .about__img-area__two .about__img-area__shape {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about__text-area {
    margin-bottom: 30px;
  }
  .about__text-area .section-title {
    padding-left: 30px;
  }
  .about__img-area {
    display: block;
    padding-left: 0;
  }
  .about__img-area .about__img-area__one {
    margin-bottom: 15px;
  }
  .about__img-area .about__img-area__one .about__img-area__shape {
    left: 0px;
    top: 40px;
    width: 60px;
    height: 60px;
  }
  .about__img-area .about__img-area__one .about__img-area__shape img {
    width: 30px;
  }
  .about__img-area .about__img-area__one .about__img-area__main-img {
    width: 100%;
  }
  .about__img-area .about__img-area__one .about__img-area__bottom {
    width: 100%;
    padding: 15px 36px;
    border-radius: 112px;
    border: 5px solid var(--white-color);
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
  .about__img-area .about__img-area__two .about__img-area__two-main-img {
    width: 100%;
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 38%;
       object-position: 0 38%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .about__text-area {
    margin-bottom: 30px;
  }
  .about__img-area {
    justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .about__text-area {
    margin-bottom: 30px;
  }
  .about__img-area {
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */